body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loading-map {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;
}

.search-container{
  position: fixed;
  top: 20px;
  left: 50px;
  background-color: white;
  z-index: 999;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  width: 250px;
  padding: 5px;
  border-radius: 10px;
}
.pointer {
  cursor: pointer;
}

.nav{
  position: fixed;
  top: 100px;
  left: 20px;

  z-index: 999;

  width: 250px;
  padding: 5px;
  border-radius: 10px;
}
.leaflet-venue-icon {
  display: none;
}
.leaflet-routing-container {
  display: none;
}

.popup-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.popup-text {
  font-size: 14px;
  margin: 0;
}

#intro {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 310px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  transition: transform 0.3s ease-in-out;
}
.btnTopLeft{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
  width: 40px;
  padding: 5px;
  border-radius: 10px;
}
.panel__header {
  top: 30px;
  left: 20px;
  margin-top: 30px;

}

@import url('https://fonts.googleapis.com/css?family=Roboto');
 .auth__header {
	 padding: 13vh 1rem calc(11vh + 35px);
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 background-color: #f0f0f0;
	 background-image: linear-gradient(#3280e4, #584dc3);
	 background-size: cover;
	 background-position: center center;
	 position: relative;
	 box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
 .auth__header:before {
	 content: "";
	 position: absolute;
	 left: 0;
	 top: 0;
	 right: 0;
	 bottom: 0;
}
 .auth__logo {
	 position: relative;
	 z-index: 18;
	 background: #fff;
	 padding: 10px;
	 border-radius: 50%;
	 box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
	 overflow: hidden;
}
 .auth__body {
	 padding-bottom: 2rem;
}
 .auth__form {
	 min-width: 280px;
	 max-width: 340px;
	 margin: auto;
	 margin-top: -40px;
	 padding: 0 10px;
	 position: relative;
	 z-index: 9;
}
 .auth__form_body {
	 padding: 0.7rem 1.5rem 35px;
	 border-radius: 0.5rem;
	 background: #fff;
	 border: 1px solid #eee;
	 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
 .auth__form_title {
	 font-size: 1.3rem;
	 text-align: center;
	 text-transform: uppercase;
	 margin-bottom: 1.2rem;
}
 .auth__form_actions {
	 text-align: center;
	 padding: 0 2rem;
	 margin-top: -25px;
}
 .auth__form_actions .btn {
	 border-radius: 30px;
	 box-shadow: 0 2px 12px rgba(50, 128, 228, 0.5);
}


::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;}